/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/07/2014, 10:19:55
    Author     : Windows 7
*/

*{
    box-sizing: border-box;/*Obrigad o navegador a respeitar os limites de width e heigth*/
}

.clearfix::before, .clearfix::after{
    content: "";
    display: table;/*serve para ajustar bugs de margem entre o container e elementos com float*/
}
.clearfix::after{
    clear: both;/*produz o mesmo efeito que se fosse colocado um elemento vazio após o conteúdo no html*/
}
.clearfix{
    *zoom: 1;/*técnica para não dar trave no IE6 e 7*/
}

.container{
    margin: 10px auto;
    width: 800px;
}

.buttom{
    border: 1px solid #999;
    height: 26px;
    padding: 5px 15px;
    width: 250px;
}

.box{
    background-color: limegreen;
    width: 250px;
    height: 35px;
}

.box-with-padding{
    background-color: lightblue;
    padding: 10px 25px;
   
    width: 250px;
    height: 35px;
    
}
section{
    border: 1px solid #000;
    height: 100px;
    margin: 40px auto;
    width: 400px;
}
.container h1.top{
    font-family: 'Press Start 2P', cursive;/*fpo adocopmado um link no html (pesquisar o site https://www.google.com/fonts/)*/
    font-size: 1.2em;
    text-align: center;
    background-color: #990000;
    color: #fff;
    left: -10px;
    padding: 5px 0;
    margin-top: 10px;
    position: relative;
    width: 419px;
}
 h1.top::before{
    border-color: transparent #7c0000 #7c0000 transparent;
    border-style: solid;
    border-width: 5px;
    content: '';
    left: 0;
    position: absolute;
    top: -10px;
}
 h1.top::after{
    border-color: transparent transparent #7c0000 #7c0000;
    border-style: solid;
    border-width: 5px;
    content: '';
    right: 0;
    position: absolute;
    top: -10px;
}

.help{
    background-color: #f1efe6;
    border: 1px solid #d3cdae;
    font-size: 0.9em;
    padding:10px;
    position: relative;
    width: 300px;
    margin: 10px 0;
    box-shadow: 3px 3px 3px #aaa;
}
.help::before{
    border-color: transparent #d3cdae transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: '';
    left: -28px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
}
input{
    border:1px solid #999;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25) inset;
    padding: 2px 5px;
}
input:focus{
    border-color: #35861b;
    box-shadow:0 0 5px #35861b;
    outline: none;
}
.tip::before{
    content: '\261E'; /*simbolo unicode para desenhar com caracteres*/
    margin-right: 10px;
    font-size: 3em;/*aumenta o tamanho do desenho*/
}

blockquote{
    margin:10px 0;
    color: #444;
    font-style: italic;
}
/*Colocar aspas ao redor do texto com fonte maior e cor diferente*/

blockquote::before, blockquote::after{
    color: #000;
    font-size: 3em;
}
blockquote::before{
    content: '\201c';
}
blockquote::after{
    content: '\201d';
}
/*Esta aplicação da um padrão a todos o botões que existirem nos htmls
existindo as classses variantes, mas mantendo o padrão*/
.button{
    background-color: #999999;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
}

.primary-button{
    background-color: #389739;
}

.big-button{
    font-size: 1.1em;
}
.small-button{
    font-size: 0.9em;
}
/*Padronização para o momento da impressão do documento*/
@media print{
    *{
    background: transparent !important;/*!important esta tag dá prioridade, para que nenhuma outra propriedade sobreescreva ela*/
    border-color: #000 !important;
    box-shadow:none !important;
    color:#000 !important;
    text-shadow: none !important;
   } 
   a{
       text-decoration: underline !important;/*para no momento da impressão ser possível indentificar os links*/
   }
}

/******Efeitos da tabela*****************************************************************************************************/

tabel{
    
    width: 500px;
}
td{
     
    border: 1px dotted #666;
    padding: 5px;
    width: 200px;
}
td a{
    color:#3b5998;
}
.expense, .profit, .actions{
    text-align: right;
}
.expense, .profit{
    font-weight: bold;
}
.expense{color: red;}
.profit{color: green;}

.actions a{
    font-size:0.9em;
    color: white;
    padding: 2px 5px;
    background-color: #3b5998;
    text-decoration: none;
}
/*Efeitos para impressão da tabela*/
@media print{
    *{
        color: #000;
    }
    table{
        width: 100%;
    }
    td{
        border-color: #000;
    }
    a::after{
       content: '('attr(href)')';/*este efeito mostra o href do link na impressão*/
        margin-left: 2px;
    }
    .actions{
        display: none;
    }
    .expense::before{
        content: '-';
    }
    .expense::after{
        content: ' - Despesas';
    }
    .profit::before{
        content: '+';
    }
    .profit::after{
        content: ' - Receita';
    }
}
/******************************TNT************************/
h3{
    display: inline-block;
    margin-top: 11px;
    border-radius: 50%;
    border: 5px solid #000;
    height: 50px;
    line-height: 41px;
    font-weight: bold;
    text-align: center;
    width: 50px;
}
/**************************37************************************/
.counter{
    border-top-left-radius: 25px 10px;
    border-top-right-radius: 25px 10px;
    background-color: #000;
    display: inline-block;
    color: white;
    font-size: 1.7em;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
}
/*************************Núvia***************************************/
.div{
    background-color: #000;
    width: 150px;
    height: 100px;
    padding: 41px 50px;
    border-radius: 80px;
    
}
.cloud{
    background-color: #fff;
    width: 48px;
    height: 16px;
    display: inline-block;
    position: relative;
    border-radius: 48px;
}
.cloud::before, .cloud::after{
    background-color: #fff;
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    border-radius: 50%;
    right: 7px;
    top: -6px;
}
.cloud::after{
    top: -10px;
    width: 23px;
    height: 23px;
    right: auto;
    left: 7px;
}
/*************************Imagem da ponte SF*********************************************/    
figure{
    position: relative;
    width: 300px;
    margin: 0 auto;
}
img{
    display: block; 
    width: 300px;
}
figcaption{
    bottom: 5px;
    margin: 0;
    padding: 5px;
    position: absolute;
    width: 300px;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
/*******************************Lista com efeitos***********************************************************/
ul{
    margin: 10px auto;
    height: 35px;
    list-style: none;
    padding:0;
    width: 210px;
    background-color: #ccc;
    color: white;
    border:1px solid rgba(0,0,0,0.3);
}
li{
    float: left;
    line-height: 35px;
    font-size: 0.9em;
    width: 50px;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(0,0,0,0.3);
}
li:first-child{
    border-left: none;
}
li:last-child{
    border-right: none;
}
ul.verd{
    background-color: rgba(91,205,158);
    background-color: rgba(91,205,158,0.5);/*para dar o efeito de transparência é necessário repetir o rgba*/
}
ul.vermelho{
    background-color: red;
}
.nav{
    background-color: #b9522d;
    height: 30px;
    list-style: none;
    padding: 0;
    width: 210px;
}
.nav li{
    float: left;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 69px;
}
.nav a{
    color: white;
}
.nav .current{
    background-color: #a64a28;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
/***********************************sOMBREAMENTO EM TEXTOS**************************************************/
h2{
    background-color: #1d9ac0;
    color: #fff;
    padding: 10px;
    text-shadow: 2px 4px 2px rgba(0,0,0,0.3);
}
/*********************************Text-Shadow*****************************************************************************/
.status{
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.7);
}
.failed{
    background-color: #bd2c00;
}
.shipped{
    background-color: #6cc644;
}
.processing{
    background-color: #fc9800;
}
/*********************************Funçãosinha do livro****************************************************************************/
.book{
   margin-top: 20px;
   text-align: left;
   background-color: #FAFAFA;
   background-image: linear-gradient(#FAFAFA,#EEE);
   border-radius: 5px;
   border: 1px solid #ccc;
   padding: 10px;
   width: 600px;
}
h4{
    color:#bd2c00;
    font-size: 1.2em;
    margin: 0; 
}
h5{
    font-size: 1em;
    margin: 5px 0;
}
.avaliable{
    background-color: #6cc644;
    border-radius: 3px;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding:3px 7px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.7);
}
ul.livro{
    border-radius: 5px;
    border: 1px solid rbga(0,0,0,0.3);
    background-color: #56b4ef;
    background-image:linear-gradient(top, #56b4ef, #148eda);
    float: left;
    line-style:none;
    height: auto;
    padding:0;
    width: auto;
    color: white;
    border:none;
    padding: 0;
    width: 230px;
    margin-right: 10px;
}

.livro li{
    float: left;
    line-height: 35px;
    font-size: 0.9em;
    width: auto;
    text-align: left;
    border-left: none;
    border-right: none;
}

@font-face{
    font-family: 'IconicFill';
    src:url('iconic_fill.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.icon{
    width: 200px;
    color: #fff;
    display: block;
    font-size: .9em;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.9);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
}
.icon:hover{
    background-color: rgba(0,0,0,0.1);
}
.icon.paper{
    border-top: none;
}
.icon.package{
    border-bottom: none;
}
.icon::before{
    font-family: 'IconicFill';
    margin: 0px 5px;
}
.paper::before{
    content: '\e00b';
}
.digital::before{
    content: '\e004';
}
.package::before{
    content: '\e022';
}
.clear{
    clear:both;
}
.book p{
    margin-top: 10px;
}

.blk{
    display: inline-block;
}
/***************************CLEAR***************************************************/
.new{
    margin-top: 10px;
    text-align: left;
    margin-bottom: 20px;
   
}
.new h2{
background-color: white;
color: black;
padding: 0px;
text-shadow: none;
float: left;
margin: 0 20px 20px 0;

}
.new h4{
margin-top: 5px;    
color: black;
font-size: 1em;
margin: 0px;
}
.new p{
     clear: both;
}
/******************************segunda imagem da ponte*************************************************/
#segund{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
/***************************************Section Posts****************************************************/
.posts{
    width: 600px;
    border: none;
    float: left;
    margin: 30px auto;
} 
.posts h1{
    float: left;
    margin: 0 0 1px;
}

.timestamp{
   background-color: #000;
   color: #fff;
   float: right;
   font-size: 0.9em;
   padding: 5px 10px;
   margin-bottom: 5px;
}
.posts p{
    clear: both;
}
/***********************aside com outros posts********************************************************/
aside{
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    float: right;
    padding: 10px;
    width: 200px;
}
aside li{
float: none;
line-height: 1em;
font-size: 0.9em;
width: auto;
text-align: left;
border-left: none;
border-right: none;
}
aside h7{
    margin: 0 auto;
}
.page{
    padding: 10px 0;
    background-color: yellowgreen;
    margin: 0 auto;
}
/*************************Noticias*****************************************************/
.notice{
    background-color: #fff;
    border:1px solid #000;
    height: 130px;
    padding: 10px;
    width: 380px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -200px;
    z-index: 1;
}
.notice p{
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-gap: 10px;
    -moz-column-rule: 1px solid #666;
    -webkit-column-rule: 1px solid #666;
    font-size: 0.9em;   
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
.notice, .overlay{
    display: none;
}
.notice .close{
    background-color: #ff1a2d;
    color: #fff;
    padding: 5px;
    position: absolute;
    right: -25px;
    top: -12px;
}
/*************************Flexbox*****************************************************/
.flexbox{
    display: flex;
    height: 60px;
    width: 300px;
}
.box{
    color: #fff;
    display: block;
    flex:auto;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.one{
    background-color: #8820dd;
}
.two{
    background-color: #2bb15a;
}
.three{
    background-color: #755322;
}
/*************************Formulario*****************************************************/
label{
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    width: 90px;
   
}
input, textarea{
    display: inline-block;
    width: 200px;
}
textarea{
    height: 100px;
}