/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/07/2014, 10:19:55
    Author     : Windows 7
*/

*{
    box-sizing: border-box;/*Obrigad o navegador a respeitar os limites de width e heigth*/
}

.container{
    margin: 10px auto;
    text-align: center;
    width: 800px;
}

.buttom{
    border: 1px solid #999;
    height: 26px;
    padding: 5px 15px;
    width: 250px;
}

.box{
    background-color: limegreen;
    width: 250px;
    height: 35px;
}

.box-with-padding{
    background-color: lightblue;
    padding: 10px 25px;
   
    width: 250px;
    height: 35px;
    
}
section{
    border: 1px solid #000;
    height: 100px;
    margin: 40px auto;
    width: 400px;
}
h1{
    font-family: 'Press Start 2P', cursive;/*fpo adocopmado um link no html (pesquisar o site https://www.google.com/fonts/)*/
    font-size: 1.2em;
    text-align: center;
    background-color: #990000;
    color: #fff;
    left: -10px;
    padding: 5px 0;
    margin-top: 10px;
    position: relative;
    width: 419px;
}
h1::before{
    border-color: transparent #7c0000 #7c0000 transparent;
    border-style: solid;
    border-width: 5px;
    content: '';
    left: 0;
    position: absolute;
    top: -10px;
}
h1::after{
    border-color: transparent transparent #7c0000 #7c0000;
    border-style: solid;
    border-width: 5px;
    content: '';
    right: 0;
    position: absolute;
    top: -10px;
}

.help{
    background-color: #f1efe6;
    border: 1px solid #d3cdae;
    font-size: 0.9em;
    padding:10px;
    position: relative;
    width: 300px;
    margin: 10px 0;
}
.help::before{
    border-color: transparent #d3cdae transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: '';
    left: -28px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
}
.tip::before{
    content: '\261E'; /*simbolo unicode para desenhar com caracteres*/
    margin-right: 10px;
    font-size: 3em;/*aumenta o tamanho do desenho*/
}

blockquote{
    margin:10px 0;
    color: #444;
    font-style: italic;
}
/*Colocar aspas ao redor do texto com fonte maior e cor diferente*/

blockquote::before, blockquote::after{
    color: #000;
    font-size: 3em;
}
blockquote::before{
    content: '\201c';
}
blockquote::after{
    content: '\201d';
}
/*Esta aplicação da um padrão a todos o botões que existirem nos htmls
existindo as classses variantes, mas mantendo o padrão*/
.button{
    background-color: #999999;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
}

.primary-button{
    background-color: #389739;
}

.big-button{
    font-size: 1.1em;
}
.small-button{
    font-size: 0.9em;
}
/*Padronização para o momento da impressão do documento*/
@media print{
    *{
    background: transparent !important;/*!important esta tag dá prioridade, para que nenhuma outra propriedade sobreescreva ela*/
    border-color: #000 !important;
    box-shadow:none !important;
    color:#000 !important;
    text-shadow: none !important;
   } 
   a{
       text-decoration: underline !important;/*para no momento da impressão ser possível indentificar os links*/
   }
}

/******Efeitos da tabela*****************************************************************************************************/

tabel{
    
    width: 500px;
}
td{
     
    border: 1px dotted #666;
    padding: 5px;
    width: 200px;
}
td a{
    color:#3b5998;
}
.expense, .profit, .actions{
    text-align: right;
}
.expense, .profit{
    font-weight: bold;
}
.expense{color: red;}
.profit{color: green;}

.actions a{
    font-size:0.9em;
    color: white;
    padding: 2px 5px;
    background-color: #3b5998;
    text-decoration: none;
}
/*Efeitos para impressão da tabela*/
@media print{
    *{
        color: #000;
    }
    table{
        width: 100%;
    }
    td{
        border-color: #000;
    }
    a::after{
       content: '('attr(href)')';/*este efeito mostra o href do link na impressão*/
        margin-left: 2px;
    }
    .actions{
        display: none;
    }
    .expense::before{
        content: '-';
    }
    .expense::after{
        content: ' - Despesas';
    }
    .profit::before{
        content: '+';
    }
    .profit::after{
        content: ' - Receita';
    }
}
/******************************TNT************************/
h3{
    display: inline-block;
    margin-top: 11px;
    border-radius: 50%;
    border: 5px solid #000;
    height: 50px;
    line-height: 41px;
    font-weight: bold;
    text-align: center;
    width: 50px;
}
/**************************37************************************/
.counter{
    border-top-left-radius: 25px 10px;
    border-top-right-radius: 25px 10px;
    background-color: #000;
    display: inline-block;
    color: white;
    font-size: 1.7em;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
}
/*************************Núvia***************************************/
.div{
    background-color: #000;
    width: 150px;
    height: 100px;
    padding: 41px 50px;
    border-radius: 80px;
    
}
.cloud{
    background-color: #fff;
    width: 48px;
    height: 16px;
    display: inline-block;
    position: relative;
    border-radius: 48px;
}
.cloud::before, .cloud::after{
    background-color: #fff;
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    border-radius: 50%;
    right: 7px;
    top: -6px;
}
.cloud::after{
    top: -10px;
    width: 23px;
    height: 23px;
    right: auto;
    left: 7px;
}
/*************************Imagem da ponte SF*********************************************/    
figure{
    position: relative;
    width: 300px;
    margin: 0 auto;
}
img{
    display: block; 
    width: 300px;
}
figcaption{
    bottom: 5px;
    margin: 0;
    padding: 5px;
    position: absolute;
    width: 300px;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}